{extends "../Dashboard/@hub.latte"}
{block title}Check URL{/block}


{block content}
    <div class="p-4 m-1 card">
        <h1>Check URL</h1>
        {control requestForm}
        <hr/>
        Please, do not take this method as way of getting free boots, it is slow and rate-limited, you will get banned for using it too much. Thank you.
    </div>
{/block}