{extends "@admin.latte"}
{block title}Добавление объявления{/block}

{block content}
    <div class="bg-dark white-text p-4 m-4 shadow-lg rounded">
        <div class="row">
            <div class="col-lg bg-gay m-3 p-2 rounded">
            {control addnewsForm}
            </div>
        </div>
    </div>
{/block}
