{extends "@admin.latte"}
{block title}Edit News{/block}

{block content}
    <div class="bg-dark white-text p-4 m-4 shadow-lg rounded">
        <h1>Edit news</h1>
        <div class="row">
            <div class="col-lg bg-gay m-3 p-2 rounded">
        	{control editNewsForm}
            </div>
        </div>
    </div>
{/block}
