{extends "../Dashboard/@hub.latte"}
{block title}Нет серверов...{/block}

{block content}
    <div class="m-4 mx-auto">
        <h1><ion-icon name="sad"></ion-icon> Нет серверов.</h1>
        <p>Такое случается, вам просто нужно подождать или обратится к системному администратору.</p>
    </div>
{/block}
